@import 'header.scss';
body{
    height: 100%;
}
main{
    height: calc(100% - 80px);
    padding-top: 66px;
    background-image: url('/../../../src/media/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.email a:hover, .phone a:hover{
    color:black;
    text-decoration: none;
}
section {
    position: relative;
    z-index: 3;
}
.banner_logo{
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 670px;
    text-transform: uppercase;
    text-align: center;
}
.banner_logo img {
    margin-bottom: 50px;
}
p{
    margin: unset;
}

.first_row{

    font-size: 24px;
    font-weight: 400;
}
.second_row{
    font-size: 56px;
    font-weight: 900;
    font-family: 'SF Heavy';
    letter-spacing: 2px;
}
.cards_wrappder{
    margin-left: auto;
    margin-right: auto;
    margin-top: to-vw(65);
    width: 70%;
    bottom: 0;
}
.card{
    border:none
}
.card:hover{
    text-decoration: none;
}
.card:hover .title,.card:hover .card_buuton span{
    opacity: .25;
    transition: 0.2s;
}
.cards_wrappder p {
    color: white;
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-between;
    
}
.card{
    position: relative;
    width: calc(95%/4);
}
.card .header {
    height: 21px;
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.card .body{
    padding-bottom: 22px;
    padding-top: 22px;
}
.card::before {
    content: "";
    position: absolute;
    top: 9px;
    left: calc(50% - 17px);
    width: 34px;
    height: 24px;
}
.card:first-child .body {
    background-color: #F9B931;
}

.card:first-child::before {
    background-image: url('/src/media/yellow_eye.png');
}
.card:nth-child(2) .body {
    background-color: #61C6FF;
}
.card:nth-child(2)::before {
    background-image: url('/src/media/blue_eye.png');
}
.card:nth-child(3) .body {
    background-color: #FF768F;
}
.card:nth-child(3)::before {
    background-image: url('/src/media/pink_eye.png');
}
.card:last-child .body {
    background-color: #CF9EFF;
}
.card:last-child::before {
    background-image: url('/src/media/perple_eye.png');
}
.card_buuton{
    margin-left: auto;
    margin-right: auto;
    width: 82%;
}


.card .title{
    font-size: 32px;
    line-height: 21px;
    margin-bottom: 16px;
    font-family: 'SF Heavy';
    text-transform: capitalize;
}

.card .desc{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 12px;
}
@media(max-width:1115px){
    .cards{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
    }
    .card{
        margin-bottom: 30px;
    }
    main{
        height: calc(95vh - 12px);
    }
    .header-left>div{
        margin-left: 20px;
    }
}
@media (max-width:769px){
    
    .socials{
        margin-left: 10px;
    }
    header .email{
        display: none;
    }
    main{
        height: unset;
    }
    .header-left>div{
        margin-left: 20px;
    }
}
@media (max-width:500px){
    header .email, header .socials,header .phone{
        display: none;
    }
    .header-right .button{
        font-size: 10px;
        width: 130px;
        padding-right: 0px;
    }
    .header-right .button.button_login{
        width: 80px; 
    }
    header{
        padding-left:0;
    }
    .banner_logo{
        width: unset;
    }
    .cards_wrappder{
        width: unset;
    }
    .card{
        width: 100%;
    }
    .cards{
        flex-direction: column;
    }
    .second_row{
        font-size: 35px;
    }
    .first_row{
        font-size: 16px;
    }
    .card{
        margin-bottom: 25px;
        margin-right:0
    }
    main{
        height: unset;
    }
    .lang{
        margin-left: 20px;
    }
}